body {
      margin: 0;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      color: #40514e;
      background-color: #edeeef;
}

h1 {
      margin-top: 50px auto 0;
      font-family: 'League Script', cursive;
      font-size: 7rem;
      color: #edeeef;
}

h2 {
      font-size: 1.75rem;
      color: #edeeef;
      font-weight: normal;
}

h3 {
      font-family: 'Montserrat', sans-serif;
      color: #7c8d8e;
      padding-bottom: 10px;
}

h4 {
      font-family: 'Montserrat', sans-serif;
      color: #0d3446;
}

hr {
       border-style: dotted none none;
       border-width: 5px;
       border-color: #e5e5e5;
       width: 5%;
       margin: 60px auto;
}

p {
       line-height: 2;
}

.footer-link {
       color: #edeeef;
       font-family: 'Montserrat', sans-serif;
       margin: 10px 20px;
       text-decoration: none;
}

.footer-link:hover {
      color: white;
}

.top-container {
      background-color: #94a4a5;
      position: relative;
      padding-top: 70px;
}

.middle-container {
      margin: 50px 0;
}

.bottom-container {
      background-color: #94a4a5;
      padding: 50px 0 10px;
}

.contact-me {
      margin-bottom: 50px;
}

a {
      color: #babbbc;
      text-decoration: line-through;
}

a:hover {
      color: #edeeef;
      text-decoration: none;
}

.skills {
      margin: 50px auto;
}

.search-image {
      width: 25%;
      float: left;
      margin-left: 30px;
}

.list-image {
      width: 30%;
      float: right;
      margin-right: 30px;
}

.top-cloud {
      width: 5%;
      position: absolute;
      right: 530px;
      top: 80px;
}

.bottom-cloud {
      width: 5%;
      position: absolute;
      left: 560px;
      bottom: 720px;
}

.skillstars {
      position: relative;
      left: 500px;
      text-align: left;
}

.circular {
            border-radius: 100%;
            padding-bottom: 30px;
}

.intro {
      width: 30%;
      margin: auto;
}

.intro-left {
      width: 70%;
      margin: auto;
      text-align: left;
}

.intro-right {
      width: 70%;
      margin: auto;
      text-align: right;
}

.contact-msg {
      width: 40%;
      margin: 40px auto 60px;
}

.btn {
             background: #94a4a5;
             background-image: -webkit-linear-gradient(top, #94a4a5, #7c8d8e);
             background-image: -moz-linear-gradient(top, #94a4a5, #7c8d8e);
             background-image: -ms-linear-gradient(top, #94a4a5, #7c8d8e);
             background-image: -o-linear-gradient(top, #94a4a5, #7c8d8e);
             background-image: linear-gradient(to bottom, #94a4a5, #7c8d8e);
             -webkit-border-radius: 18;
             -moz-border-radius: 18;
             border-radius: 18px;
             font-family: 'Montserrat', sans-serif;
             color: #ffffff;
             font-size: 20px;
             padding: 10px 20px 10px 20px;
             text-decoration: none;
}

.btn:hover {
             background: #87d8e6;
             background-image: -webkit-linear-gradient(top, #87d8e6, #7db6ba);
             background-image: -moz-linear-gradient(top, #87d8e6, #7db6ba);
             background-image: -ms-linear-gradient(top, #87d8e6, #7db6ba);
             background-image: -o-linear-gradient(top, #87d8e6, #7db6ba);
             background-image: linear-gradient(to bottom, #87d8e6, #7db6ba);
             text-decoration: none;
}

.copyright {
      color: #edeeef;
      font-size: 0.85rem;
      padding: 20px 0 0;
}

.star {
      width: 45px;
}
